.tabs{
  display: flex;
  margin: 0px auto ;
  .tab{
    border: $tabs-border;
    color: $tabs-color;
    padding:  0.5rem 2rem;
    font-weight: bold;
    &.active{
      color: $tabs-active-color;
      border: $tabs-border-active;
    }
    &:first-child{
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child{
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}